# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
dist/
build/
*.egg-info/

# Logs and outputs
logs/
results/optimized/
results/evaluation_reports/
results/evaluation_report.csv
